<!-- proposal-details.component.html -->
<h2 class="title" mat-dialog-title>{{ 'details.title' | translate }}</h2>

<mat-dialog-content>
  <mat-stepper>
    <mat-step label="{{ 'details.proposal' | translate }}">
      <div class="step-content">
        <h3>{{ 'details-proposal.info' | translate }}</h3>
        <mat-list>
          <mat-list-item>
            <span class="label">ID:</span> {{data.proposal.proposal_id}}
          </mat-list-item>
          <mat-list-item>
            <span class="label">{{ 'details-proposal.description' | translate }}:</span> {{data.proposal.description}}
          </mat-list-item>
          <mat-list-item>
            <span class="label">{{ 'details-proposal.price' | translate }}:</span> S/{{data.proposal.offered_price}}
          </mat-list-item>
          <mat-list-item>
            <span class="label">{{ 'details-proposal.date' | translate }}:</span> {{data.proposal.submission_date | date}}
          </mat-list-item>
          <mat-list-item>
            <span class="label">{{ 'details-proposal.status' | translate }}:</span> {{data.proposal.proposal_status}}
          </mat-list-item>
        </mat-list>
      </div>
    </mat-step>

    <mat-step label="{{ 'details.service' | translate }}">
      <div class="step-content">
        <h3>{{ 'details-service.info' | translate }}</h3>
        <mat-list>
          <mat-list-item>
            <span class="label">ID:</span> {{data.service.service_id}}
          </mat-list-item>
          <mat-list-item>
            <span class="label">{{ 'details-service.name' | translate }}:</span> {{data.service.name}}
          </mat-list-item>
          <mat-list-item>
            <span class="label">{{ 'details-service.description' | translate }}:</span> {{data.service.description}}
          </mat-list-item>
          <mat-list-item>
            <span class="label">{{ 'details-service.price' | translate }}:</span> S/{{data.service.price}}
          </mat-list-item>
        </mat-list>
      </div>
    </mat-step>

    <mat-step label="{{ 'details.request' | translate }}">
      <div class="step-content">
        <h3>{{ 'details-request.info' | translate }}</h3>
        <mat-list>
          <mat-list-item>
            <span class="label">ID:</span> {{data.activationRequest.request_id}}
          </mat-list-item>
          <mat-list-item>
            <span class="label">{{ 'details-request.title' | translate }}:</span> {{data.activationRequest.event_title}}
          </mat-list-item>
          <mat-list-item>
            <span class="label">{{ 'details-request.description' | translate }}:</span> {{data.activationRequest.event_description}}
          </mat-list-item>
          <mat-list-item>
            <span class="label">{{ 'details-request.location' | translate }}:</span> {{data.activationRequest.location}}
          </mat-list-item>
          <mat-list-item>
            <span class="label">{{ 'details-request.dates' | translate }}:</span>
            {{data.activationRequest.start_date | date}} - {{data.activationRequest.end_date | date}}
          </mat-list-item>
        </mat-list>
      </div>
    </mat-step>
  </mat-stepper>
</mat-dialog-content>

<mat-dialog-actions align="end">
  <button mat-button mat-dialog-close>{{ 'details.close' | translate }}</button>
</mat-dialog-actions>
