<mat-card>
  <mat-card-content>

    <h1>{{ 'proposal.title' | translate }}</h1>

    <div class="cards-container">
      <mat-card class="card" appearance="outlined">
        <mat-card-header>
          <mat-card-title class="title-card">3</mat-card-title>
        </mat-card-header>
        <mat-card-actions>
          <mat-card-subtitle class="subtitle-card">{{ 'proposals.sent' | translate }}</mat-card-subtitle>
        </mat-card-actions>
      </mat-card>

      <mat-card class="card" appearance="outlined">
        <mat-card-header>
          <mat-card-title class="title-card">1</mat-card-title>
        </mat-card-header>
        <mat-card-actions>
          <mat-card-subtitle class="subtitle-card">{{ 'proposals.accepted' | translate }}</mat-card-subtitle>
        </mat-card-actions>
      </mat-card>
    </div>

    <nav class="navbar-send-pruposes">
      <ul>
        <li class="navbar-option"><a routerLink="/proposals" routerLinkActive="active">{{ 'nav.pending_requests' | translate }}</a></li>
        <li class="navbar-option"><a routerLink="/proposals" routerLinkActive="active">{{ 'nav.sent_proposals' | translate }}</a></li>
        <li class="navbar-option"><a routerLink="/proposals" routerLinkActive="active">{{ 'nav.upcoming_events' | translate }}</a></li>
      </ul>
    </nav>

    <mat-form-field class="filter">
      <mat-label>{{ 'filter.label' | translate }}</mat-label>
      <input matInput (keyup)="applyFilter($event)" placeholder="{{ 'filter.placeholder' | translate }}" #input>
    </mat-form-field>

    <table mat-table [dataSource]="dataSource" class="mat-elevation-z8">
      <ng-container matColumnDef="ID">
        <th mat-header-cell *matHeaderCellDef> {{ 'proposal.id' | translate }}</th>
        <td mat-cell *matCellDef="let element"> {{element.proposal_id}} </td>
      </ng-container>

      <ng-container matColumnDef="AssociatedRequest">
        <th mat-header-cell *matHeaderCellDef> {{ 'proposal.request' | translate }} </th>
        <td mat-cell *matCellDef="let element"> {{element.eventTitle}} </td>
      </ng-container>


      <ng-container matColumnDef="OfferedService">
        <th mat-header-cell *matHeaderCellDef> {{ 'proposal.service' | translate }} </th>
        <td mat-cell *matCellDef="let element"> {{element.serviceName}} </td>
      </ng-container>

      <ng-container matColumnDef="OfferedPrice">
        <th mat-header-cell *matHeaderCellDef> {{ 'proposal.price' | translate }} </th>
        <td mat-cell *matCellDef="let element"> S/{{element.offered_price}} </td>
      </ng-container>

<!--      <ng-container matColumnDef="Description">-->
<!--        <th mat-header-cell *matHeaderCellDef> {{ 'proposal.description' | translate }} </th>-->
<!--        <td class="description" mat-cell *matCellDef="let element"> {{element.description}} </td>-->
<!--      </ng-container>-->

      <ng-container matColumnDef="ShippingDate">
        <th mat-header-cell *matHeaderCellDef> {{ 'proposal.date' | translate }} </th>
        <td mat-cell *matCellDef="let element"> {{element.submission_date}} </td>
      </ng-container>

      <ng-container matColumnDef="Status">
        <th mat-header-cell *matHeaderCellDef> {{ 'proposal.status' | translate }} </th>
        <td mat-cell *matCellDef="let element">
          <span [ngClass]="getStatusClass(element.proposal_status)">
            {{getStatusText(element.proposal_status)}}
          </span>
        </td>
      </ng-container>



      <ng-container matColumnDef="Actions">
        <th mat-header-cell *matHeaderCellDef> {{ 'proposal.actions' | translate }} </th>
        <td mat-cell *matCellDef="let element">
          <button mat-icon-button (click)="openProposalForm(element)">
            <mat-icon class="update-icon">edit</mat-icon>
          </button>
          <button mat-icon-button (click)="openDeleteDialog(element)">
            <mat-icon class="delete-icon">delete</mat-icon>
          </button>
          <button mat-icon-button (click)="viewDetails(element)">
            <mat-icon class="view-more-icon">info</mat-icon>
          </button>
        </td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>

      <!-- Row shown when there is no matching data. -->
      <tr class="mat-row" *matNoDataRow>
        <td class="mat-cell" colspan="8">{{ 'no.data.matching.filter' | translate }} "{{input.value}}"</td>
      </tr>
    </table>

  </mat-card-content>
</mat-card>
